<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
    <action id="org.freedesktop.policykit.pkexec.dnfdrake">
    <description>Run DnfDrake program</description>
     <description xml:lang="it">Esegui DnfDrake come root</description>
     <description xml:lang="ru">Запустить программу DnfDrake</description>
    <message>Authentication is required to run DnfDrake as root</message>
     <message xml:lang="it">È richiesto autenticarsi per eseguire DnfDrake come root</message>
     <message xml:lang="ru">Для запуска программы DnfDrake, выполните аутентификацию.</message>
    <icon_name>accessories-text-editor</icon_name>
    <defaults>
        <allow_any>auth_admin</allow_any>
        <allow_inactive>auth_admin</allow_inactive>
        <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/dnfdrake.gambas</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    </action>
</policyconfig>
